Priority: optional
Depends: java-runtime-headless (>= 1.8)
Version: 1.36.26-1
Maintainer: Dmitriy Meleshko <dmytro.meleshko@gmail.com>
Architecture: all
Package: grid-stepper-game
Section: games
Description: Game where you need to go from A to B stepping on all empty cells once
 Nothing here.
